<div class="content-container">
  <div class="content-area">
    <angular-yandex-map [center]="[55.751952, 37.600739]" [options]="mapOptions" [zoom]="12" [clusterer]="clusterer"
                        (load)="onMapLoad($event)">
      <angular-yandex-control [type]="'Button'" *ngIf="auth.user"
                              [parameters]="addButtonParams" (load)="addButtonLoad($event)">
      </angular-yandex-control>
    </angular-yandex-map>
  </div>
  <nav class="sidenav" [clr-nav-level]="2">
    <section class="sidenav-content">
      <section class="nav-group collapsible">
        <input id="availableTagsTab" type="checkbox">
        <label for="availableTagsTab">Filter by</label>
        <ul class="nav-list">
          <li *ngFor="let availableTag of availableTags"><span (click)="addTagFilter(availableTag)"
                                                               class="label clickable">{{availableTag.name}}</span></li>
        </ul>
      </section>
      <section class="nav-group collapsible">
        <input id="appliedTagsTab" type="checkbox">
        <label for="appliedTagsTab">Filtered by</label>
        <ul class="nav-list">
          <li *ngFor="let appliedTag of appliedTags"><span (click)="removeTagFilter(appliedTag)"
                                                           class="label clickable">{{appliedTag.name}}</span></li>
        </ul>
      </section>
      <ng-container *ngIf="areas">
        <ng-container *ngFor="let areaDto of areas">
          <div class="card">
            <div class="card-header">
              {{areaDto.area.article.heading}}
            </div>
            <div class="card-block">
              <div class="card-text" [innerHTML]="areaDto.area.article.content">
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </section>
  </nav>
</div>
<clr-modal class="editor-model" [clrModalOpen]="editorOpened" (clrModalOpenChange)="onOpenedChange($event)"
           [clrModalClosable]="false">
  <h3 class="modal-title">Area description</h3>
  <div class="modal-body">
    <form clrForm>
      <clr-input-container>
        <label>Heading</label>
        <input clrInput placeholder="Heading" name="name" [(ngModel)]="heading"/>
      </clr-input-container>
    </form>
    <ckeditor [editor]="editor" [config]="editorConfig" [(ngModel)]="editorData"></ckeditor>
    <ng-multiselect-dropdown
      [placeholder]="'Tags'"
      [data]="dropdownList"
      [settings]="dropdownSettings"
      [(ngModel)]="selectedItems">
    </ng-multiselect-dropdown>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancel()">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="saveArea($event)">
      Save
    </button>
  </div>
</clr-modal>

<clr-modal class="article" *ngIf="currentArticle" [(clrModalOpen)]="articleOpened">
  <h3 class="modal-title">{{currentArticle.heading}}
  </h3>
  <div class="modal-body">
    <div class="p3">Written by
      <a [routerLink]="'/profile/' + currentArticle.username">{{currentArticle.username}}</a>,
      {{currentArticle.lastUpdate.epochSecond * 1000 | date}}
    </div>
    <div [innerHTML]="currentArticle.content"></div>
  </div>
</clr-modal>
