.content-container {
  height: 93vh;
}

.label:hover {
  cursor: pointer;
}

.editor-model {
  .clr-form-control {
    margin-top: 0;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    height: 70vh;

    .modal-body {
      flex-grow: 1;
    }
  }
}

.article {

}
