.invisible {
  display: none;
}

.profile {
  width: 80%;
  margin: auto;

  .username {
    padding-top: 10px;
    display: flex;
    align-items: center;

    h2 {
      margin: 0 15px;
    }
  }

  .avatar {
    object-fit: cover;
    height: 250px;
    width: 250px;
    background-color: grey;
    margin: 15px;
  }

  .expandible-textarea {
    min-height: 25em;
    //max-height: 50vh;
    width: 100%;
  }

  .clr-control-container {
    width: 100%;
  }

  .datagrid-cell{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
