<div class="question" *ngIf="question">
  <div class="card answer">
    <div class="card-header">
      {{question.username}}
    </div>
    <div class="card-block">
      <div class="card-text">
        {{question.text}}
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-link" (click)="newAnswerOpened = true">Answer</button>
    </div>
  </div>
  <div class="answers" *ngFor="let answer of question.answers">
    <div class="card answer">
      <div class="card-header">
        {{answer.username}}
      </div>
      <div class="card-block">
        <div class="card-text">
          {{answer.text}}
        </div>
      </div>
    </div>
  </div>
</div>

<clr-modal *ngIf="auth.user" class="article" [(clrModalOpen)]="newAnswerOpened">
  <h3 class="modal-title">Write your answer</h3>
  <div class="modal-body">
    <form class="example-form">
      <textarea [(ngModel)]="answerText" class="textarea" placeholder="Ex. It makes me feel..."
                [ngModelOptions]="{standalone: true}"></textarea>
      <button type="button" class="btn btn-icon" aria-label="home" (click)="submitAnswer($event)">
        ASK
      </button>
    </form>
  </div>
</clr-modal>
